/* .component-app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  } */

  .nav {
    background: #232396;
  }

  .nav a {
    color: white;
  }

  #addMember {
    float: right;
    position: sticky;
    bottom: 25px;
    right: 25px;
    z-index: 999;
  }